

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <form  [formGroup]="forgetForm" (ngSubmit)="forget()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <mat-error *ngIf="forgetForm.get('userName')?.hasError('required')">
                Username is required
              </mat-error>
              <input matInput placeholder="Enter username"  formControlName="userName" value="">
              
            </mat-form-field>
            <div *ngIf=errmsg style="color: red;">{{errmsg}}</div>
            <button mat-stroked-button type="submit" [disabled]="forgetForm.invalid">submit</button>
    </form>
</mat-grid-tile>

     <div *ngIf=otp style="color:green; font-size:x-large"> 
    <mat-grid-tile>your Otp is {{otp}}</mat-grid-tile>
     </div> 
     <div *ngIf=otp> 
    <mat-grid-tile>
        <form  [formGroup]="otpForm" (ngSubmit)="forgetotp()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Enter OTP</mat-label>
              <input matInput placeholder="Enter OTP"  formControlName="otpvalue" value="">
              <mat-error *ngIf="otpForm.get('otpvalue')?.hasError('required')">
               Enter OTP
              </mat-error>
            </mat-form-field>
            <div *ngIf=errm style="color: red;">{{errm}}</div>
            <button mat-stroked-button type="submit" [disabled]="otpForm.invalid">submit</button>
    </form>
    </mat-grid-tile>
     </div>
     <div *ngIf="flag"> 
    <mat-grid-tile>
        <form  [formGroup]="passwordForm" (ngSubmit)="update()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Enter New Password</mat-label>
              <input matInput placeholder="Enter new password"  formControlName="npassword" value="">
              <mat-error *ngIf="passwordForm.get('npassword')?.hasError('required')">
                password is required
              </mat-error>
            </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>Confirm-Password</mat-label>
                <input matInput placeholder="Confirm password"  formControlName="cpassword" value="">
                <mat-error *ngIf="passwordForm.get('cpassword')?.hasError('required')">
                  paword  is required
                </mat-error>
            </mat-form-field>
            <div *ngIf=errmsge style="color: red;">{{errmsge}}</div>
            <button mat-stroked-button type="submit" [disabled]="passwordForm.invalid" >submit</button>
    </form>

    </mat-grid-tile> 
    </div>
    
  </mat-grid-list>
  
   
    
 