.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f3e6f5; 
  }
  .custom-label {
    font-size: 20px;      
    white-space: nowrap;  
    overflow: hidden;      
    text-overflow: ellipsis; 
  }
  mat-error {
    color: rgb(220, 53, 69); 
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }